/*
Colors used:
Primary Color (Neon Pink): #FF88DB;
Secondary Color (Charcoal): #4B4B4B;
Secondary Color (Light Gray): #F0F0F0;
Background Color (White): #FFFFFF;
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4B4B4B;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.25em;
  font-weight: 700;
}

h2 {
  font-size: 2.00em;
  font-weight: 300;
}

h3 {
  font-size: 1.75em;
  font-weight: 300;
}
h4 {
  font-size: 1.35em;
  font-weight: 700;
}

img {
  width: 100%;
}

.gifSmallView {
  width: 30%;
}

header {
  background-color: #ffffff;
  text-align: unset;
  padding: 10px 0 12px;
  margin: 0px;
  width: 100%;
  position: fixed;
  z-index: 9999;
  border-bottom: 2px solid #FF88DB;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin-top: 35px;
  margin: 0;
  color: #4B4B4B;
}



nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 500;
  color: #4B4B4B;
}

nav>ul>li>a:visited {
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 500;
  color: #4B4B4B;
  text-decoration: none;
}

nav>ul>li>a:hover {
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 500;
  color: #FF88DB;
  text-decoration: none;
}

nav>ul>li>a:focus {
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 500;
  color: #4B4B4B;
  text-decoration: none;
}

nav>ul>li>a:active {
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 85px;
}

.navtoggle li .icon:hover::before {
  background: none;
  visibility: hidden;
  text-decoration: none;
}
.navtoggle li .icon:hover::after {
  background: none;
  visibility: hidden;
  text-decoration: none;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive li  {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

main {
  padding-top: 155px;
}

footer {
  background-color: #F0F0F0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4B4B4B;
  padding-top: 15px;
  padding-bottom: 15px;
  bottom: 0;
  display: inline-block;
  width: 100%;
}

a {
  color: #FF88DB;
  text-decoration: none;
  transition: 0.2s opacity;
}
a:visited {
  color: #4B4B4B;
  text-decoration: none;
}
a:hover {
  color: #FF88DB;
  text-decoration: none;
  opacity: 0.8;
}
a:active {
  color: #FF88DB;
  text-decoration: none;
}

a:focus {
  color: #FF88DB;
  text-decoration: none;
}

a:before {
  content: "";
  position: absolute;
  text-decoration: none;
  color: #4B4B4B;
  width: 100%;
  height: 0px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}


a:hover:before {
  visibility: visible;
  text-decoration: none;
  color: #4B4B4B;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.noHover:hover::before {
  background: none;
  visibility: hidden;
  text-decoration: none;
}

a:after {
  content: "";
  position: absolute;
  text-decoration: none;
  width: 100%;
  height: 0px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:hover:after {
  visibility: visible;
  text-decoration: none;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.noHover:hover::after {
  background: none;
  visibility: hidden;
  text-decoration: none;
}

.button {
  display: inline-block;
  background-color: #FF88DB;
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  z-index: 0;
  padding:8px 28px;
  border-radius: 25px;
  transition: 0.2s opacity;
}
.button:active {
  display: inline-block;
  background-color: #FF88DB;
  color: #ffffff;
  font-weight: 400;
  padding:8px 28px;
  border-radius: 25px;
}
.button:visited {
  display: inline-block;
  background-color: #FF88DB;
  color: #ffffff;
  font-weight: 400;
  padding:8px 28px;
  border-radius: 25px;
}
.button:hover {
  color: #ffffff;
  opacity: 0.8;
}

/* Layout styling */
.container {
  padding: 0 10px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#menuIcon {
    max-width: 30px;
    margin-bottom: 8px;
}

#work .row {
  padding-bottom: 25px; border-bottom: 1px solid #F0F0F0;
}

#about {
  padding: 10px 0;
  display: inline-block;
  width: 100%;
}

#about img {
  padding: 10px 0;
  display: block;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#about h2 {
  text-align: center;
}

#hero {
  text-align: center;
  background-color: #ffffff;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
  display: block;
  width: 100%;
}

[class*='col-'] {
  padding: 10px;
}

.col-sm-12 {
  width: 100%;
}

#skills {
  margin: 0 auto;
  padding: 5px 0;
  display: inline-block;
  width: 100%;
}

#skills .container div {
  text-align: left;
}

#mystory h4 {
  text-align: left;
  margin: 0 auto;
}

#mystory .container div ul {
  text-align: left;
  list-style: none;
  padding-left: 0
}

#skills h4 {
  text-align: left;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.logo {
  max-width: 180px;
}

.social-links {
  position: relative;
}

.social-links ul {
  padding: 0;
}

.social-links li {
  list-style: none;
  display: inline-block;
  position: relative;
  font-size: 40px;
  color: #FF88DB;
  margin: 5px;
}

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* Top and Bottom borders go out */

div.container a
{
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

div.topBotomBordersOut a:before, div.topBotomBordersOut a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FF88DB;
    content: "";
    opacity: 0;
    transition: all 0.5s;
}

div.topBotomBordersOut a:before
{
    top: 0px;
    transform: translateY(10px);
}

div.topBotomBordersOut a:after
{
    bottom: 0px;
    transform: translateY(-10px);
}

div.topBotomBordersOut a:hover:before, div.topBotomBordersOut a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}


/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 10px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 70px;
  }

  nav > ul {
  margin: 1em 0;
}

  nav > ul > li {
    display: inline-block;
    color: #4B4B4B;
  }

  .navtoggle li:not(:last-child) {
  display: inline-block;
}

.navtoggle li:last-child {
  display: none;
}

  main {
    padding-top: 160px;
  }

  .col-md-6 {
  width: 50%;
  }

  .col-md-4 {
  width: 33%;
  }

  .col-md-5 {
  width: 30%;
  }

  .col-md-7 {
  width: 65%;
  }

  [class*="col-"] {
  float: left;
  }


/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
    padding: 10px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    font-size: 19px;
    margin-top: 60px;
  }

  nav > ul {
  margin: 1em 0;
}

  nav > ul > li {
    display: inline-block;
    color: #4B4B4B;
  }

  .navtoggle li:not(:last-child) {
  display: inline-block;
}

.navtoggle li:last-child {
  display: none;
}

  body {
    font-size: 20px;
  }

  main {
    padding-top: 160px;
  }

  .col-lg-5 {
  width: 28%;
  }

  .col-lg-7 {
  width: 70%;
  }

  .col-lg-6 {
  width: 60%;
  }

  [class*="col-"] {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  }

  .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}



/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  header {
    text-align: unset;
    padding: 10px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    font-size: 19px;
    margin-top: 65px;
  }

  nav > ul {
  margin: 1em 0;
}

  nav > ul > li {
    display: inline-block;
    color: #4B4B4B;
  }

  .navtoggle li:not(:last-child) {
  display: inline-block;
}

.navtoggle li:last-child {
  display: none;
}

  main {
    padding-top: 180px;
  }

  .col-lg-5 {
  width: 28%;
  }

  .col-lg-7 {
  width: 70%;
  }

  [class*="col-"] {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  }

  .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
